body {
  background-color: rgb(17, 39, 73);
  text-align: center;
}
h1 {
  color:antiquewhite;
}
li {
  display: inline-block;
}
button {
  background-color: transparent;
  border: none;
}
#green {
  background-color: green;
  height: 200px;
  width: 200px;
  border: 10px solid;
  border-color: black;
  border-radius: 20%;

}
#red {
  background-color: red;
  height: 200px;
  width: 200px;
  border: 10px solid;
  border-color: black;
  border-radius: 20%;

}
#yellow {
  background-color: yellow;
  height: 200px;
  width: 200px;
  border: 10px solid;
  border-color: black;
  border-radius: 20%;

}
#blue {
  background-color: blue;
  height: 200px;
  width: 200px;
  border: 10px solid;
  border-color: black;
  border-radius: 20%;

}